.copyright{
	top : 3px;
	padding : 5px;
	width : 1200px;
	margin : 0 auto;
	font-family : Verdana,Geneva,sans-serif;
	font-size : 15px;
	color : #3B5688;
	font-weight : bold;
	text-align : center;
}
.copyright a{
	color : #3B5888;
	text-decoration : none;
	font-size : 14px;
}
.copyright a:hover{
	text-decoration : underline;
}
.spoken{
	float : right;
	font-size : 12px;
	font-weight : normal;
}